<div class="u-full-width" *ngIf="contacto">
  <!-- Nombre del contacto -->
  <h5>{{ contacto.nombre }}</h5>
  <hr>
  <!-- Redes sociales -->
  <div>
    <button
      type="button"
      (click)="notificarFacebook()"
      *ngIf="contacto.facebook">
        <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
    </button>
    <button
      type="button"
      (click)="notificarTwitter()"
      *ngIf="contacto.twitter">
        <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
    </button>
  </div>
  <hr>
  <!-- Móvil y correo electrónico -->
  <div>
    {{ contacto | DatosContacto:'|' }}
  </div>
</div>
