<!--
  La directiva 'NgForm' instancia la clase 'FormGroup' correspondiente al formulario.
  Con '#nombre' creamos Template Reference Variables. Si asignamos como valor la directiva
  'NgForm', obtenemos una referencia a la instancia 'FormGroup' creada.
-->
<form ngForm #contacto="ngForm" (ngSubmit)="notificarCreacionContacto(contacto)">

  <!-- Nombre del contacto -->
  <div>
    <label for="nombre">Nombre</label>
    <!--
      La directiva 'NgModel' instancia la clase 'FormControl' correspondiente al elemento de formulario.
      Con '#nombre' creamos Template Reference Variables. Si asignamos como valor la directiva 'NgModel', obtenemos una referencia a la instancia 'FormControl' creada.
    -->
    <input
      type="text"
      ngModel
      id="nombre"
      name="nombre"
      #nombre="ngModel"
      minlength="3"
      required>
    <div *ngIf="nombre.touched && nombre.invalid" class="mensaje-error">
      El nombre es un campo obligatorio.
    </div>
  </div>

  <!-- Correo electrónico del contacto -->
  <div>
    <label for="email">Correo electrónico</label>
    <input type="text" ngModel id="email" name="email">
  </div>

  <!-- Móvil del contacto -->
  <div>
    <label for="movil">Móvil</label>
    <input type="text" ngModel id="movil" name="movil">
  </div>

  <!-- Cuenta de Facebook del contacto -->
  <div>
    <label for="facebook">Facebook</label>
    <input type="text" ngModel id="facebook" name="facebook">
  </div>

  <!-- Cuenta de Twitter del contacto -->
  <div>
    <label for="twitter">Twitter</label>
    <input type="text" ngModel id="twitter" name="twitter">
  </div>

  <button type="submit" [disabled]="contacto.invalid">Guardar</button>
</form>
